@media only screen and (max-width: 640px){
    .cima{
        .engrenagens{
            visibility: hidden;
        }

        .triangulo{
            width: 100% !important;
        }

        .texto{
            font-size: 5vw !important;
        }
    }

    .baixo{
        .seta{
            visibility: hidden;
        }

        .botao{
            width: 80%;
            button{
                width: 100%;
                font-size: 5vw !important;
            }
        }
    }
}

.container{
    width: 100%;
    height: 100vh;
    margin-top: 7vh;
    position: relative;
}

.container div{
    z-index: -1;
    position: relative;
}

.cima{

    height: 80vh;


    .triangulo{
        position: absolute;
        top: 0%;
        height: 75vh;
        width: 50%;
    }

    .texto{
        position: absolute;
        color: #003F63;
        text-align: center;
        font-size: 2vw;
        top: 40%;
        left: 5%;
    }

    .engrenagens{
        align-items: center;
        position: absolute;
        top: 20%;
        right: 10%;
        height: 50%;
        width: auto;
    }

}

.baixo{

    height: 20vw;
    
    .seta{
        position: absolute;
        transform: scaleX(calc((100 - var(--scroll))/100));
        width: 50%;
        height: auto;
        right: 0;
        z-index: 1;
    }
    
    .botao button{
        position: absolute;
        background-color: #003F63;
        color: white;
        border-radius: 10px;
        border-width: 0;
        padding: 1%;
        border-radius: 10vw;
        border-width: 0;
        font-size: 2vw;
        top: 2vw;
        left: 10%;

        a{
            color: white;
            text-decoration: none;
        }
    }
    
    .botao :hover{
        font-weight: bold;
    }
    
    .botao :active{
        background-color: #F2B138;
    }
}

.container:root {
    --scroll: 0;
}