.container {
    background-color: yellow;
    height: 100vh;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card div{
    width: 100%;
    background-color: white;
    border-radius: 2vh;
}