.container {
    width: 100%;
    height: fit-content;
    height: fit-content;
    padding-bottom: 2vw;
    padding-top: 2vw;

    h2 {
        padding-left: 7vw;
        padding-top: 1vw;
        color: white;

        span {
            background-color: #F2B138;
            padding: 0.5vw;
            border-radius: 2vw;
        }
    }


}

.posts {
    width: 80%;
    margin-left: 10%;
    margin-top: 1vw;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #DEDEDE;

    .item {
        width: 90%;
        height: 100%;
        background-color: #DEDEDE;
        text-decoration: none;
        color: black;

        img {
            margin-top: 1vw;
            width: 100%;
            height: 80%;
        }

        h3 {
            text-align: center;
            height: 20%;
            font-size: 1.5vw;
        }
    }
}