@media only screen and (max-width: 640px){
    .container{
        width: 100% !important;
        margin: 5vh 0vh !important;

        .escrever {
            border-radius: 0 !important;
        }
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    justify-items: center;
    margin: 5vh 10%;
    font-size: 3vh;

    .titulo {
        font-size: 8vh;
    }

    .escrever {
        width: 100%;
        background-color: #003F63;
        padding: 2vh;
        border-radius: 1vh;
        display: grid;
        grid-template-columns: 2fr 6fr 1fr;

        div {
            label {
                color: white;
                margin-bottom: 1vh;
                display: block;
            }

            input {
                width: 90%;
                height: 5vh;
                border-radius: 1vh;
                font-size: 2vh;
            }
        }

        .botaoEnviar {
            display: grid;
            align-items: end;
        }
    }

    .containerCard {
        width: 100%;
        padding: 3vh 2vh;
        margin: 1vh 0vh;
        border-radius: 1vh;
        background-color: white;

        h4{
            margin: 0% 5%;
        }

        p{
            margin: 0% 5%;
            color: gray
        }
    }
}