.container{
    display: grid;
    grid-template-columns: 1fr;
    z-index: -1;
}

.container *{
    position: relative;
    z-index: 2;
}

.header{
    position: fixed !important;
    z-index: 2;
}