@media only screen and (max-width: 640px){
    .container{
        h2{
            font-size: 3vw;
        }
        .imagens{
            grid-template-columns: 1fr !important;

            div{
                margin-bottom: 5vw;
            }
        }
        .botao{ 
            margin-bottom: 5vw;
            button{
                width: 80% !important;
                font-size: 5vw !important;
            }
        }
    }
    .depoimentos{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        height: fit-content;
        padding: 1em;
}
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 0;
}

.container div{
    z-index: -1;
    font-size: 1.5vw;
    height: 10vw;
}

.container div h2{
    margin-top: 4vw;
    text-align: center;
    align-self: center;
}

.item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: right;
    background-size: cover;
    height: fit-content !important;
    z-index: -1;
    h2{
        margin-bottom: 4vw;
    }

    .imagens{
        align-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        width: 100%;
        height: auto;

        div{
            height: auto;
        }

        img{
            margin-left: 10%;
            width: 80%;
            height: auto;
        }
    }

    .frame{
        width: 100%;
        height: fit-content !important;
        justify-items: center;
        align-items: center;
        display: grid;
        div{
            width: 40%;
            height: 20vw;
            padding-bottom: 3vw;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }

    .botao{
        width: 100%;
        display: flex;
        justify-content: center;
        button{
            margin-top: 5vw;
            margin-bottom: 5vw;
            align-self: center;
            background-color: #003F63;
            color: white;
            padding: 1% 12%;
            border-radius: 10vw;
            border-width: 0;
            font-size: 1.5vw;

            a{
                color: white;
                text-decoration: none;
            }
        }
        :hover{
            font-weight: bold !important;
        }

        :active{
            background-color: #F2B138 !important;
        }  
    }
    .gs{
        text-align: center;
        h3{
            font-size: 5em;
            color: #003F63;
            bottom: 40%;
        }
        label{
            font-size: 1.5em;
            bottom: 20%;
        }
    }
    .logos{
        height: 12em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        background-color: #F2B138;

        img{
            width: 10em;
            height: 10em;
        }
    }
    .logotitulo{
        text-align: center;
        font-size: 1.8em;
        color: white;
        background-color: #F2B138;
        padding-top: 10px;
        height: 2em;
    }

    .depoimentos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        height: fit-content;
        padding: 1em;
        
    .textoDepoimentos{
        padding: 0.5em;
    }
    .nomesDepoimentos{
        color: #003F63;
        padding-top: 1.5em;
    }
    }

    .agenda{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 3em;
        .botaoAgendar{
            color:white;
            background-color: #003F63;
            width: 30%;
            height: 4em;
            font-size: 1em;
            border-radius: 20px;
        }
    }

    @media screen and (max-width: 700px) {
 .depoimentos{
    display: flex;
    flex-direction: column;
    text-align: center;

    .ItemDepoimento{
        margin-bottom: 4em;

        .textoDepoimentos{
            margin: 0;
            padding: 0;
            height: 70%;
            font-size: 1.5em;
        }
        .nomesDepoimentos{
            margin: 0;
            padding: 0;
            font-size: 1.8em;
        }
    }
 }
 .agenda{
    .botaoAgendar{
        font-size: 2em;
        width: 45%;
    }
 }
}
}
