.container{
    position: absolute;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    width: 100%;
    top: 205%;
    background-color: #F2B138;
}

.container h2{
    margin-top: 50px;
}

.container input{
    width: 50%;
    margin-top: 20px;
    height: 30px;
    border-radius: 20px;
    background-color: #DEDEDE;
    border-color: #DEDEDE;
}

.msg{
    padding-bottom: 200px !important;
}

.container input:last-of-type{
    margin-bottom: 20px;
    height: 40px;
    width: 30%;
    margin: 20px 10%;
    background-color: #003F63;
    color: white;
}

.container input:last-of-type:hover{
    font-weight: bold !important;
}

.container input:last-of-type:active{
    background-color: #DEDEDE !important;
}