.container{
    position: absolute;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    width: 100%;
    top: 250%;
}

.container input{
    width: 50%;
    margin-top: 20px;
    height: 30px;
    border-radius: 10px;
}

.msg{
    height: 200px !important;
}